li {
    background-color: rgb(240, 248, 255);
    cursor: pointer;
    padding: 5px;
}

li:hover,
.selected-li {
    background-color: rgb(113, 131, 146);
}

ul {
    max-height: 150px;
    overflow-y: auto;
}